:root {
    --Very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet:hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white:hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-dos: hsla(0, 0%, 100%, 0.6);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,*::before,*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--Very-dark-blue);
    color: var(--White);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: var(--White);

}

.cards{

}

.card{
    background-color: var(--Dark-desaturated-blue);
    border-radius: 0.5em;
}